<!doctype html>
<html lang="{{ site.language or 'en' }}">
  <head>
    {% include "head.html" %}
    <!-- страховка, если в head.html нет css -->
    <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body>
    {% include "header.html" %}

    <main class="container">
      {% block content %}{% endblock %}
    </main>

    {% include "footer.html" %}
    {% include "cookie-banner.html" %}

    <script defer src="/static/js/cookie.js"></script>
    <script defer src="/static/js/search.js"></script>
  </body>
</html>
